/* client/src/assets/Login.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: auto;
  left: 0;
  top: 0;
  padding: 1.5rem;
  position: sticky;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 1000;
}

a {
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: right;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  width: auto;
}

.navbar .links {
  display: flex;
  list-style: none;
  gap: 30px;
  padding-top: 1rem;
}

.navbar .links a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar .links a:hover {
  color: #4285f4;
}

.container {
  height: 90vh;
  width: auto;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  display: flex;
  column-gap: 30px;
  background-color: #F5F5F5;
}

.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  border-radius: 8px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form.signup {
  opacity: 0;
  pointer-events: none;
}

.forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}

.forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

form {
  margin-top: 30px;
}

.form .field {
  position: relative;
  height: 60px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #CACACA;
}

.field input:focus {
  border-bottom-width: 2px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  background-color: rgba(43, 108, 163);
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

.field button:hover {
  background-color: #4285f4;
  transition: 0.3s;
}

.media-options:hover {
  background-color: #CACACA;
  transition: 0.3s;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
}

.form a {
  color: rgba(43, 108, 163);
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #d4d4d4;
  margin: 36px 0;
}

.line::before {
  content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #232836;
  padding: 0 15px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.google-img {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

a.google {
  border: 1px solid #CACACA;
}

a.google span {
  font-weight: 500;
  opacity: 0.8;
  color: #232836;
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: rgba(43, 108, 163);
  padding: 30px 5%;
  position: relative;
  min-height: 100px;
  padding-top: 40px;
  justify-content: center;
  color: #fff;
}

.footer-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
}

.footer-col p {
  color: #fff;
  max-width: 500px;
  margin: 8px auto;
  line-height: 20px;
  font-size: 15px;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #dadada;
  height: 2px;
  width: 45px;
}

.icon-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  color: #ffffff;
  background-color: rgba(43, 108, 163);
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: 0.4s;
  font-size: 28px;
}

@media (max-width: 740px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 5%;
  }

  .footer-col h4::before {
    all: unset;
  }
}

@media (max-width: 500px) {
  .footer-col {
    width: 100%;
  }
}